In [13]:
import os
import sys
import pandas as pd
import configparser
sys.path.append('D:/Github/SHANFOLIO')
import warnings
warnings.filterwarnings('ignore')
from shanf import apt
from shanf.datakit.DtLoader import DtLoader
from shanf.apt.Factor import Factor,IndexComp_Factor

Load Configuration

In [2]:
config = configparser.ConfigParser()
config.read('../../config.ini')
data_path = config.get('path', 'data_path')
local_path = config.get('path', 'local_path')

Load Index Information

In [28]:
def convert_symbol(df, col):
    df[col] = df[col].astype(str).apply(lambda x: x.zfill(6))
    return df

index_comp_df = pd.read_csv(os.path.join(local_path,'backup/index_comp.csv'),encoding='gbk')
index_basic_info = pd.read_csv(os.path.join(local_path,'backup/TQ_IX_BASICINFO.csv'), encoding='gbk')

index_comp_df.columns = index_comp_df.columns.str.lower()
index_basic_info.columns = index_basic_info.columns.str.lower()

index_comp_df = convert_symbol(index_comp_df, 'symbol')
index_comp_df = convert_symbol(index_comp_df, 'selectesymbol')
index_basic_info = convert_symbol(index_basic_info, 'symbol')

to_chinese_name_dict = dict(zip(index_basic_info.symbol, index_basic_info.sesname))

In [4]:
tradeassets = index_basic_info.loc[index_basic_info['estclass']=='申万一级行业指数']['symbol'].tolist()
tradeassets = [ i for i in tradeassets if i not in ['801216', '801217', '801961', '801117', '801207', '801983', '801768', '801786', '801019','801011','850131']]

Initialize the data loader

In [5]:
index_comp_dict = {}
for symbol,group in index_comp_df.groupby('symbol')['selectesymbol']:
    if symbol in tradeassets:
        index_comp_dict[symbol] = group.tolist()

In [6]:
stock_fl = DtLoader(field_root=os.path.join(data_path, 'processed/stock'))
index_fl = DtLoader(field_root=os.path.join(data_path, 'processed/index'))


Factor.set_fl(stock_fl)
IndexComp_Factor.set_index_comp_dict(index_comp_dict)

In [22]:
prices = index_fl.close.loc[:,tradeassets]

Run factors

In [29]:
from shanf.apt import *

In [30]:
mb = ICF_mkt_breadth.MB().calculate(name='turnrate',method='ma',period=60,breadth_method='total',rank=False)

In [35]:
mb_fast_ma = mb.rolling(5).mean()
mb_slow_ma = mb_fast_ma.rolling(20).mean()
super_slow_ma = mb_slow_ma.rolling(20).mean()

In [37]:
dual_ma = mb_fast_ma - mb_slow_ma



event_trigger = (dual_ma > 0)  \
                    & (dual_ma.shift(1)< 0) \
                        & ((mb_slow_ma.diff()>0) | ((mb_fast_ma<0.15)&(mb_fast_ma.diff(20)>0))) \
                            & (mb_fast_ma/super_slow_ma<2)

In [40]:
events = dual_ma[event_trigger].stack().reset_index()

In [42]:
events['level_1'] = events['level_1'].apply(lambda x: to_chinese_name_dict[x])

In [48]:
temp_df = pd.concat([prices.stack(), mb_fast_ma.stack(),mb_slow_ma.stack(),super_slow_ma.stack()],axis=1).reset_index()

In [49]:
temp_df['level_1'] = temp_df['level_1'].apply(lambda x: to_chinese_name_dict[x])

In [50]:
from sqlalchemy import create_engine

engine = create_engine(f'mysql+pymysql://finchina:finchina@localhost/quant')
temp_df.to_sql('temprorary_turnrate_df', con=engine, if_exists='replace', index=True)

132680

In [46]:
events.to_sql('temprorary_events_df', con=engine, if_exists='replace', index=True)

2406

In [47]:
temp_df

        tradedate level_1        0         1         2         3
0      2006-01-04    非银金融   242.87       NaN       NaN       NaN
1      2006-01-04      综合   444.50       NaN       NaN       NaN
2      2006-01-04      煤炭   795.95       NaN       NaN       NaN
3      2006-01-04      环保   547.14       NaN       NaN       NaN
4      2006-01-04    建筑装饰   504.03       NaN       NaN       NaN
...           ...     ...      ...       ...       ...       ...
132675 2023-08-11    石油石化  2299.84  0.530612  0.428571  0.314898
132676 2023-08-11    美容护理  6081.87  0.241379  0.241379  0.367241
132677 2023-08-11      钢铁  2289.97  0.418182  0.352727  0.444182
132678 2023-08-11    农林牧渔  2987.34  0.463768  0.402899  0.420435
132679 2023-08-11    轻工制造  2296.83  0.264840  0.251142  0.386941

[132680 rows x 6 columns]